/* .report-button:focused, .report-button:default:focused {
	-fx-background-color: #827e7e;
        -fx-text-fill:white;
}


.report-button:hover{
    -fx-background-color: #827e7e;
    -fx-text-fill:white;
}*/